@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-title: #2b72bd;
  --color-subtitle: #3b618a;
  --color-contrast: #0777f0;
  --color-text: #374657;
  --color-text-secondary: #2a2f33;
  --color-light: #eaeaea;
  --black: #171717;
  --white: #fafafa;
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;
}

.container {
  max-width: 600px;
  height: 100vh; 
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textContainer {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}

h1 {
  font-family: var(--font-primary);
  font-size: 2.2em;
  color: var(--color-title);
  margin: 35px 0 30px;
}

.tag-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-light);
}

.tags p {
  font-family: var(--font-secondary);
  font-size: 1em;
  color: var(--color-text);
}

.tags span {
  font-size: 1em;
  color: var(--color-title);
  font-weight: bolder;
  padding: 0 0 0 10px;
}

button {
  font-family: var(--font-secondary);
  font-size: 1.3em;
  color: var(--white);
  background-color: var(--color-title);
  font-weight: bold;
  padding: 10px;
  margin: 30px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-contrast);
}

button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

textarea {
  padding: 10px;
  height: 100px;
  font-family: var(--font-secondary);
  border: 1px solid var(--color-subtitle);
  color: var(--color-text-secondary);
  width: -webkit-fill-available;
  border-radius: 8px;
  font-size: 1.2em;
}

textarea:focus,
textarea:focus-visible,
textarea:active {
  border-color: var(--color-contrast);
  outline: none;
}

.tags {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#darkModeButton {
  background-image: url('../images/svg/moon.svg');
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin: 0;
}

#lang {
  background-image: url('../images/svg/world.svg');
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin: 0;
}

@media (width >= 768px) {
  .container {
    justify-content: center;
    margin: 50px auto;
    height: 75vh;
  }

  .navItems {
    margin-top: 0;
  }
}